[run]
source = .
omit =
    */migrations/*
    */tests/*
    */admin.py
    */apps.py
    */manage.py
    */wsgi.py
    */asgi.py
    */settings.py
    */.venv/*
    */venv/*
    */env/*
    */site-packages/*
    */distutils/*
    */.ebextensions/*
    */.elasticbeanstalk/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError