# .ebextensions/01_django.config
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: assignment_1.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_ALLOWED_HOSTS: "django-poll.eba-3pgvmtze.us-west-2.elasticbeanstalk.com,*.elasticbeanstalk.com,localhost,127.0.0.1"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /polls/
    MatcherHTTPCode: 200

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true